<!-- CHAT BAR BLOCK -->

<div class='chat-bar-collapsible'>
	<button id='chat-button' type='button' class='collapsible'>Leave a comment...
		<i id='chat-icon' style='color: #fff;' class='fa fa-fw fa-comments-o'></i>
	</button>

	<div class='content'>
		<div class='full-chat-block'>
			<!-- Message Container -->
			<div class='outer-container'>
				<div class='chat-container'>
					{{!-- Single Post --}}
					{{> post-info post}}

					{{#if loggedIn}}
					<form class="comment-form">
  					<div>
    					<textarea name="comment-body"></textarea>
  					</div>

  					<div>
    					<button type="submit">add comment</button>
    					<button type="button" class="upvote-btn">upvote</button>
  					</div>
					</form>
					{{/if}}
					{{> comments post.comments}}

										<ol class="post-list">
  											{{#each posts as |post|}}
 											 <li>
   												 {{> post-info post }}
  											</li>
  											{{/each}}
										</ol>
					
					<!-- User input box -->
					<div class='chat-bar-input-block'>

						<section>
  							<h2>Create New Post</h2>

  								<form class="new-post-form">
    								<div>
      									<label for="post-title">Title</label>
      										<input type="text" id="post-title" name="post-title" />
    								</div>
    									<div>
      										<label for="post-url">comment</label>
      										<input type="text" id="post-url" name="post-comment" />
    									</div>
    										<button id="create" type="submit" class="btn">Create</button>
  								</form>
						</section>

						{{#if posts.length}}
							<section>
  								<h2>Your Posts</h2>
  									<ol>
    									{{#each posts as |post|}}
    									<li>
      										{{> post-info post}}
      										<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    									</li>
    									{{/each}}
  									</ol>
							</section>
						{{/if}}
					</div>

					<div id='chat-bar-bottom'>
						<p></p>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>


<script src='/js/chatbox.js'></script>
<script src="/js/add-post.js"></script>
{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
{{/if}}
{{!-- <script src='/js/edit-post.js'></script>
<script src='/js/delete-post.js'></script> --}}

