<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/login2.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    {{>navbar}}

    <!-- LOGIN FORM -->
    <section class="forms-section">
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
              Login
              <span class="underline"></span>
            </button>
                <form class="form login-form">
                    <fieldset>
                        <legend>Please, enter your email and password for login.</legend>
                        <div class="input-block">
                            <label for="email-login">E-mail</label>
                            <input id="email-login" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="password-login">Password</label>
                            <input id="password-login" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
              Sign Up
              <span class="underline"></span>
            </button>
                <form class="form signup-form">
                    <fieldset>
                        <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                        <div class="input-block">
                            <label for="email-signup">E-mail</label>
                            <input id="email-signup" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="password-signup">Password</label>
                            <input id="password-signup" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                </form>
            </div>
        </div>
    </section>

    <script src="/js/side.js"></script>
    <script src="/js/login.js"></script>


</body>

</html>