<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='./assets/css/movie-page.css' />
		<link rel='stylesheet' href='./assets/css/chat.css' />
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
		/>
		<title>Movie Design</title>
	</head>

	<body>
		{{navbar}}

		{{{body}}}

		{{chatbox}}
		<script src='./assets/js/side.js'></script>
		<script src='./assets/js/chatbox.js'></script>
		<script
			src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'
		></script>
	</body>

</html>